.filled svg {
	fill: var(--primary);
}

.star svg {
	margin: 0 5px 0 0;
}

.editable {
	cursor: pointer;
}

.wrapper {
	position: relative;
}

.error svg {
	stroke: var(--red);
}

.error-message {
	position: absolute;
	right: 0;
	bottom: -20px;

	color: var(--red);
}
