/** GRID **/
.product {
	display: grid;
	/* stylelint-disable-next-line max-line-length */
	grid-template-columns: [start] 70px [logoend] 30px [titlestart] calc(50% - 100px) [middle] 1fr [pricestart] auto [priceend] 40px [creditstart] auto [creditend] 40px [ratestart] auto [end];

	margin: 30px 0 0;
	padding: 30px;
}

.logo {
	grid-column: start / logoend;
	grid-row: 1 / span 2;
}

.title,
.tags {
	grid-column: titlestart / middle;
}

.price,
.price-title {
	grid-column: pricestart / priceend;

	white-space: nowrap;
}

.credit,
.credit-title {
	grid-column: creditstart / creditend;

	white-space: nowrap;
}

.rating,
.rate-title {
	grid-column: ratestart / end;
}

.hr {
	grid-column: start / end;
}

.description {
	margin: 0 0 15px;

	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	grid-column: start / end;
}

.feature {
	grid-column: start / middle;
}

.adv-block {
	grid-column: middle / end;
}

.actions {
	grid-column: start / end;
}

.logo img {
	border-radius: 5px;
}

/** ELEMENTS **/
.title {
	align-self: flex-end;

	font-size: 20px;
	font-weight: 600;
	line-height: 27px;
}

.price,
.credit {
	align-self: flex-end;

	font-size: 20px;
	font-weight: 400;
	line-height: 27px;
}

.old-price {
	margin: 0 0 0 4px;
}

.rating {
	align-self: flex-end;
}

.category {
	margin: 7px 5px 0 0;
}

.price-title,
.credit-title,
.rate-title {
	font-size: 14px;
	font-weight: 300;
	line-height: 19px;
}

.rate-title a {
	color: var(--primary);
}

.month {
	font-size: 14px;
	font-weight: 400;
	line-height: 19px;
}

.characteristics {
	display: grid;
	grid-template-columns: auto 1fr auto;
	gap: 10px;

	align-items: center;

	padding: 0 60px 0 0;

	font-size: 16px;
	line-height: 32px;
}

.characteristics__name {
	font-weight: 700;
}

.characteristics__dots {
	border-bottom: 1px dashed var(--gray-light);
}

.characteristics__value {
	text-align: end;
}

.advantages,
.disadvantages {
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
}

.advantages {
	margin: 0 0 20px;
	padding: 0 0 0 15px;

	border-left: 2px solid var(--green);
}

.disadvantages {
	padding: 0 0 0 15px;

	border-left: 2px solid var(--red);
}

.adv-title {
	margin: 0 0 5px;

	font-size: 16px;
	font-weight: 700;
	line-height: 22px;
}

.btn-detail {
	margin: 0 20px 0 0;
}

.reviews {
	overflow: hidden;

	padding: 30px;
}

/* .close {
	overflow: hidden;

	max-height: 0;
	padding: 0;
}

.opened {
	max-height: auto;
	padding: 30px;
} */

@media screen and (max-width: 1320px) {
	.product {
		grid-template-columns: 70px 30px auto 40px auto 40px 1fr;
		grid-template-areas:
			"logo . title title title title title"
			"logo . tags tags tags tags tags"
			"price price price . credit . rating"
			"price-title price-title price-title . credit-title . rate-title"
			"hr hr hr hr hr hr hr"
			"description description description description description description description"
			"feature feature feature feature feature feature feature"
			"adv-block adv-block adv-block adv-block adv-block adv-block adv-block"
			"hr2 hr2 hr2 hr2 hr2 hr2 hr2"
			"actions actions actions actions actions actions actions";
	}

	.logo {
		grid-area: logo;

		margin: 0 0 20px;
	}

	.title {
		grid-area: title;
	}

	.tags {
		grid-area: tags;

		margin: 0 0 20px;
	}

	.price {
		grid-area: price;
	}

	.credit {
		grid-area: credit;
	}

	.rating {
		grid-area: rating;
	}

	.price-title {
		grid-area: price-title;
	}

	.credit-title {
		grid-area: credit-title;
	}

	.rate-title {
		grid-area: rate-title;
	}

	.hr {
		grid-area: hr;
	}

	.description {
		grid-area: description;
	}

	.feature {
		grid-area: feature;

		margin: 0 0 20px;
	}

	.adv-block {
		grid-area: adv-block;
	}

	.hr2 {
		grid-area: hr2;
	}

	.actions {
		grid-area: actions;
	}
}

@media screen and (max-width: 640px) {
	.product {
		grid-template-columns: 70px 30px 1fr;
		grid-template-areas:
			"logo . title"
			"logo . tags"
			"price-title price-title price"
			"credit-title credit-title credit"
			"rate-title rate-title rating"
			"hr hr hr"
			"description description description"
			"feature feature feature"
			"adv-block adv-block adv-block"
			"hr2 hr2 hr2"
			"actions actions actions";
	}

	.price,
	.credit,
	.rating {
		margin: 0 0 10px;
	}

	.characteristics {
		padding: 0;
	}
}

@media screen and (max-width: 480px) {
	.product {
		grid-template-columns: 1fr;
		grid-template-areas:
			"logo"
			"title"
			"tags"
			"price"
			"price-title"
			"credit"
			"credit-title"
			"rating"
			"rate-title"
			"hr"
			"description"
			"feature"
			"adv-block"
			"hr2"
			"actions";
	}

	.price,
	.credit,
	.rating {
		margin: 0;
	}

	.price-title,
	.credit-title,
	.rate-title {
		margin: 0 0 10px;
	}

	.btn-detail {
		margin: 0 20px 20px 0;
	}
}
