.tag {
	display: inline-block;

	box-sizing: border-box;
	margin: 0 5px 0 0;

	border-radius: 20px;
}

.md {
	padding: 5px 10px;

	font-size: 14px;
	line-height: 14px;
}

.sm {
	padding: 5px 10px;

	font-size: 12px;
	line-height: 12px;
}

.ghost {
	border: 1px solid var(--gray-light);
}

.red {
	color: var(--white);
	background-color: #DE0000;

	font-weight: 600;
}

.gray {
	color: var(--white);
	background-color: #6C7C98;

	font-weight: 600;
}

.green {
	color: var(--green);
	background-color: var(--green-light);

	font-weight: 700;
}

.primary {
	color: var(--primary);
	border: 1px solid var(--primary);

	font-weight: 500;
}
